.container {
    width: 960px;
    margin: 0 auto;
    font-size: 100%;
    line-height: 1.5
}

body{
    background-color: #f3f3f3;
    padding: 26px 0px;
    font-family: Verdana, Geneva, sans-serif;
    color: #313131;
}

h1,
h2,
h3,
li{
    font-size: 24px;
    text-align: center;
    padding: 12px 0px;
    color: #606060;
}

h3,
li{
    font-size: 20px;
}

section{
    background-color: #fff;
    border: 2px solid #708090;
    margin-bottom: 26px;
}

li,
section header,
.box,
.box2{
    border-color: #f8f8ff;
    border: 2px solid #708090;
    margin-bottom: 26px;
}

nav ul{
    display: flex;
}

ul li{
    width: 350px;
}
.middle-list{
    margin: 0px 12px 26px 12px;
}

section header{
    width: 900px;
    margin: 26px;
}

.section-one-columns{
    display: flex;
    flex-wrap: wrap;

}

.section-two-columns{
    display: flex;
    flex-wrap: wrap;
}

.box2{
    width: 435px;
    margin: 0px 0px 26px 26px;
}

.box2 img{
    width: 270px;
    margin-left: 77px;
}
.box{
    width: 280px;
    margin: 0px 0px 26px 26px;
}

.box img{
    width: 270px;
    margin-left: 5px;
}
