body {
	background-color: white;
	text-align: center;
	font-family: 'Noto Sans', 'sans-serif';
}
 
.container {
	margin:0 auto;
	width:960px;
	font-size: 100%;
	line-height: 1.2;
}

/*  COLOUR PALETTE 
Dark Green: 3b4834
Light Green: 6c7355
Orange: f59444

font-family: 'Heebo', sans-serif;
font-family: 'Noto Sans', sans-serif;
*/
.visuallyhidden {
	display: none;
}

header .logo{
	padding: 10px 0px;
}

nav li{
	font-family: 'Noto Sans', sans-serif;
	font-size: 15px;
	margin: 25px 0px 25px 30px;
}

nav a{
	text-decoration: none;
	color: #f59444;
}

nav a:hover{
	border-bottom: 1px solid #f59444;
}
nav ul{
	display: flex;
}

header {
	display: flex;
}

.banner{
	background-image: url(../img/banner-bg.jpg);
	padding-bottom: 75px;
	display:flex;
}

.banner .left-column{
	width: 400px;
	margin-top: 75px;
	background-color: #3b4834;
}
.banner h2{
	margin: 25px 25px 15px 25px;
	text-align: left;
	font-family: 'Heebo', sans-serif;
	font-size: 50px;
	color: white;
}

.banner p{
	margin-top: 20px;
	margin: 0px 25px;
	text-align: left;
	font-size: 15px;
	color: white;
}

.banner a{
	font-size: 22px;
	font-family: 'Heebo', sans-serif;
	padding: 15px 120px;
	margin: 20px 10px;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	background-color: #fff;
	color: #3b4834;
}

.banner a:hover{
	background-color: lightblue;
}


.resources h2{
	margin-top: 40px;
	font-size: 40px;
	text-align: left;
	color: #6c7355;
}

.guides{
	text-align: left;
	padding: 15px 0px 10px 20px;
	color: white;
	background-color: #f59444;
}

.resources > section{
    background-color: #fff;
    border: 1px solid #708090;
	margin: 20px 0px;
}

.guides-section{
	display: flex;
}

.left-image{
	margin: 20px;
}

.right-image{
	margin: 20px;
}

.resource-par p{
	margin: 20px 20px 20px 20px;
	font-family: 'Noto Sans', 'sans-serif';
	line-height: 2;
	text-align: left;
}

.img-footer{
	font-style: italic;
	padding: 15px 0px;
	background-color: #f2f2f2;
	color: #3f3f40;
}
.img-footer .bolded{
	margin: 0px 10px 0px 20px;
	font-weight: bold;
}
.img-footer img{
	margin-left: 20px;
}
.img-footer{
	display:flex;
}
h1,
h2,
h3{
	font-family: 'Heebo', sans-serif;
}

.bottom-section{
	background-color: #3b4834;
}

.bottom-section h2{
	font-size: 45px;
	color: white;
	padding: 40px 0px 20px 0px;
}

.bottom-section a{
	text-decoration: none;
	color: white;
}

.bottom-section .row1{
	margin-left: 275px;
}
.row1 li{
	margin: 20px 0px 40px 40px;
}
.bottom-section .row2{
	margin-left: 275px;
}
.row2 li{
	margin: 0px 0px 50px 40px;
}

.bottom-section ul{
	display: flex;
}
footer{
	background-color: #6c7355;
	padding: 10px 0px;
}

